version: '3.8'
services:
  server:
    container_name: node
    restart: on-failure
    build: .
    ports:
      - '5000:5000'
    links:
      - db
      - redis
    networks:
      - backend
    depends_on:
      - db
      - redis
    command: bash -c "/usr/wait-for-it.sh --timeout=0 mongodb:27017 && /usr/wait-for-it.sh --timeout=0 redis:6379 && node server.js"
  db:
    container_name: mongodb
    restart: always
    image: mongo
    working_dir: /data
    ports:
      - '2717:27017'
    volumes:
      - mongodata:/data/db
    networks:
      - backend
  redis:
    container_name: redis
    image: redis:latest
    ports:
      - '6379:6379'
    networks:
      - backend
    volumes:
      - redis:/data/

networks:
  backend:

volumes:
  mongodata:
  redis:
